 

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
} 



.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
"header"
"navigation"
"main";
}

.header{
  grid-area: header;
}

.main {
  grid-area: main;
}

.navigation {
  grid-area: navigation;
}
h3:not(.header-name){
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}


/*=========================
          HEADER
==========================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#7477BF;
  width: 100%;
  color: white;
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

 .logo {
  font-size: 20px;
  word-spacing: -10px;
  margin-left: 2%;
  
 }

 .logo .bold {
  font-weight: bold;
  font-size: smaller;
 }

 .logo .slim {
  font-weight:lighter;
  font-size: smaller;
 }
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 8%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  border-left: 0.7px solid white;
  width: 45%;
 
  }

  .profile-picture {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
    
  }


.bell-icon {
  width: 18px;
  height: 18px;
  margin-top: 24px;
  margin-left: 35px;
  margin-right: 12px;
  margin-bottom: 18px;
  position: relative;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.bell-icon:hover {
  transform: scale(1.5);
}
 .header-name {
font-size: 14px;
font-weight: 400;
}
.header svg {
  fill: white;
}


.bell-icon::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4CAF50;
}

/*.notifications-container {
  position: relative;
}
.notifications {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.notifications ul {
  margin: 0;
  color: black;
  font-weight: 100;
  font-size: smaller;
  list-style: none;
}
.notifications li::before {
  content: "•";
  color:#78CF82;
  margin-right: 5px;
}

.notifications.active {
  display: block;
}
*/


/*=========================
        NAVIGATION
==========================*/

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation {
  background-color:#595b92;
 }
 
 .navigation svg {
  width: 24px;
  height: 24px;
  fill: white;
}
 
 
  

/*=========================
           MAIN
==========================*/
.main {
  display: grid;
  grid-template-columns: 100%;
}

.widget-container-full,.widget-container-half {
  width: 99%;
  }

  

  .main-header {
    display: flex;
   background-color: lightgray;
  
   }
  
   .headline {
    padding: 10px;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    
   }
   

  .alert-banner {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #7477BF;
    justify-content: space-between;
    border-radius: 5px;
    width: 95%;
    margin-left: 8px;
    color: white;
    font-size: 14px;
  }

  .alert-banner p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .alert-banner-close {
   margin-right: 10px;
    cursor: pointer;
    }

  .traffic-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  } 

  .traffic,
  .daily,
  .mobile,
  .social,
  .members,
  .activity,
  .message {
    padding-bottom: 10px;
   
    border-bottom: 0.7px solid black ;
  }

  .traffic-nav {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    }

  
    
  .traffic-nav li {
    margin-right: 12px;
    font-weight: 400;
    cursor: pointer;
  }
  .traffic-nav li:last-child {
    margin-right: 0;
  }
  .traffic-nav-link {
   border-radius: 10px;
  }
  .traffic-nav-link:hover {
    background-color: #78CF82;
    color: white;

  }

  
 



/*=========================
        SOCIAL STATS
==========================*/

.social-container {
display: flex;
align-items: center;
border: 0.7px solid black;
border-radius: 5px;
margin: 12px;
background-color: #edecec;
}

.social-image {
  width: 26px;
  height: 26px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #7477BF;
  padding: 5px;
  box-sizing: content-box;
}
.social-image svg {
  fill: white;
}

.social-text {
 margin-top: 5px;
}

.social-text p:first-child {
  color:#595b92
}
.social-text p:nth-child(2) {
  color: rgb(100, 100, 100);
}
/*==========================================
        NEW MEMBERS AND RECENT ACTIVITY
===========================================*/
.members img, 
.activity img {
  width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 12px;
}

.members-container,
.members-text,
.activity-container,
.activity-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.members-container,
.activity-container {
  padding-bottom: 18px;
  margin: 18px;
  border-bottom:  0.7px solid;
}

.members-container:last-child,
.activity-container:last-child {
  border-bottom: none;
}

.activity p{
font-weight: 200;
}



.activity span {
  font-weight: 400;
}


/*=========================
       MESSAGE USER
==========================*/
.widget-container

 {
  display: flex;
  align-items: center;
  flex-direction: column;
  }



.form-field,
.form-area {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #edecec;
  border: 0.7px solid black;
}

#send {
  width: 95%;
  padding: 10px;
  background-color: #7477BF;
  border-radius: 5px;
  border: 0.7px solid black;
}


/*=========================
       SETTINGS
==========================*/

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 10px;
}

.toggle-text {
  margin-right: 10px;
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#c0c0c0;
  transition: background-color 0.3s;
  border-radius: 12px;
}

.slider:before {
  position: absolute;
  content: " ";
  
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: transform 0.3s;
  border-radius: 50%;
}




input[type="checkbox"]:checked + .slider {
  background-color:#7477BF;
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(26px);

}

.settings-button {
  display: flex;
  width: 95%;
}

.settings-button button {
  flex-grow: 1;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: 0.7px solid black;
}

.settings-button button:first-child {
  margin-right: 15px;
  background-color: #7477BF;
}

.settings {
  margin-bottom: 20px;
}



/*=========================
     MEDIA QUERIES 768px
==========================*/


@media (min-width: 768px) {
  .grid-container { 
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
    "header header"
    "navigation main";
  }

    .header {
      background-color:#7477BF;
    }
    .header-container {
      width: 100%;
    }

    .bell-icon {
      margin-left: 450px;
     
    }

    .profile {
      border-left: 0.7px solid white;
      width: 25%;
    }

    .logo-container {
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
    }

  .navigation ul {
    display: grid;
   grid-template-columns: auto;
  } 

  .navigation ul li {
    margin-bottom: 20px;
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / span 2;
  }

  .alert {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .alert-banner {
    width: 97%;
    margin-left: 10px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .traffic-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%;
 }

 .traffic {
  margin-bottom: 20px;
 }
 
}


@media (min-width: 768px) {
  .main {
    grid-template-columns: 50%;
  }
}

@media (min-width: 768px) {
  .traffic, .social {
  grid-column: 1 / span 2;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social-container {
    display: flex;
    width: 100%;
    background-color: #edecec;
    border: 0.7px solid black;
    height: 65px;
  }

 
  .social-text p:first-child {
    font-size: 14px; 
  }
  
  .social-text p:nth-child(2) {
    font-size: 20px; 
    font-weight: 300;
  }

  .social-image {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: inline-block;
    border-radius: 50%;
  }
}
  
  

  @media (min-width: 768px) {
    .daily, .members {
    grid-column: 1 / span 1;
    }

    

    .message,
    .settings {
      display: grid;
      grid-column: span 2;
    }
.settings {
  margin-bottom: 20px;
}

    .toggle-container {
      display: flex;
      justify-content: flex-start;
    }
    .toggle-text {
      margin-right: 80px;
    }
    #toggle-text-2 {
      margin-right: 102px;
    }
   }
   @media (min-width: 768px) {
    .members,
    .activity {
      display: grid;
      grid-column: span 2;
    }

    .members-container,
    .activity-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      
    }
    
    .activity-text {
      text-align: left;
      display: block;
      }

      .members-text {
        text-align: left;
        display: block;
        }

    .members-container img,
    .activity-container img {
      width: 15%;
      height: auto;
      border-radius: 50%;
     
    }
    
    .members-text {
      order: 1;
    }
  
    .members-text p {
      order: 2;
    }

    .members-text a {
      order: 2;
      font-weight: 100;
    }

    .members-container p {
      order: 2;
    }

    .members-container p:last-child {
      margin-left: auto;
    }

    .members-text p {
      margin-right: 122px;
    }

    .activity-text p:nth-child(2) {
      margin-right: 300px;
    }
    .activity-container:nth-child(4) .activity-text p:nth-child(2) {
    margin-right: 335px;
    }
    #activity-last {
      margin-right: 206px;
      text-align: left;
    }
    #activity-last-p {
      text-align: left;
      margin-right: 350px;
    }

    
    
#messageField {
  margin-top: 20px;
  height: 130px ;
  border-top: 0.7px solid black;
}
.message input,
.message textarea {
  border-radius: 5px;
  background-color:#edecec;
}
.message input {
  border-top: 0.7px solid black;
}
#cancel {
  background-color: #ccc;
}

   }
   
  


  

    @media (min-width: 768px) {
      .mobile {
      grid-column: 2 / span 1;}

      
      }

      

      @media (min-width: 768px) {
        .widget-container-full {
        width: 100%;
        }
        
        .widget-container-full.no-border-box {
          box-sizing: content-box;
        }
         
       
       
        }


/*=========================
     MEDIA QUERIES 1024px
==========================*/
@media (min-width: 1024px) {
  .members,
  .message {
  grid-column: 1 / span 1;
  }
  
  .bell-icon {
    margin-left: 650px;
    width: 20px;
    height: 20px;
  }

  .profile {
    width: fit-content;
  }

  .activity,
  .settings {
    grid-column: 2 /span 1;
  }

  .activity-text {
  text-align: left;
  display: block;
  }

  .activity-text p:nth-child(2) {
    margin-right: 0;
    padding-right: 275px;
  }

  .activity-container:nth-child(2) .activity-text p:nth-child(2) {
    margin-right: 0;
    padding-right: 285px;
    }
  
  .activity-container:nth-child(4) .activity-text p:nth-child(2) {
    margin-right: 0;
    padding-right: 285px;
    }

    #activity-last {
      margin-right: 0;
      text-align: left;
      padding-right: 44px;
    }
    #activity-last-p {
      text-align: left;
      margin-right: 0;
      padding-right: 200px;
    }

  .widget-container-full {
    width: 100%;
  }
  .settings h3 {
    height: fit-content;
  }

  .toggle-container {
    margin-bottom: 36px;
    margin-top: 24px;
  }
  #toggle-container {
   
    margin-bottom: 37px;
  }

  #send {
    height: 40px;
  }
  .members,
  .message,
  .daily {
    border-right: 0.8px solid black;
  }
  .traffic {
    margin-bottom: 0;
  }
}
